:root{
    --main-color: #F5EFE6;
    --secondary-color: #6D94C5;
    --comlementary-color:  #E8DFCA;
    --buttons-color:  #CBDCEB;
    --text-color:  #6d6168;
    --success-color: #7fa98f;
    --error-color: #c97a7a;
}

body{
    background-color: var(--main-color);
}

